.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 100px;
  padding: 20px;
  color: rgb(74, 236, 236);
}

.smurfs {
  padding:1%;
}

.btnDiv {
  margin:2%;
}

.form {
  width:50%;
  margin:0 auto;
}